* {
    font-family: 'Nunito', sans-serif;
}
body {
    background-color: rgb(237, 237, 239)
}
.no-decorations:hover {
    text-decoration: none;
}
.bg-hover {
    transition: .2s;
}
.bg-hover:hover {
    transition: .2s;
    background: #d5d5d7;
    cursor: pointer;
}
.profile-big {
    border: none;
    background-color: transparent;
    display: inline-block;
    margin-bottom: 1rem;
}
#last-name {
    font-size: 5rem;
    font-family: 'Lora', serif;
}
#job {
    color: rgb(61, 139, 199);
}
.icon-side {
    border: solid 2px lightgray;
}
.heading-side {
    background-color: rgb(237, 237, 239);
    font-weight: bolder;
    margin-bottom: 0;
    display: inline-block;
}
.stroke-side {
    margin: -16px;
    border-width: 2px;
}

.bdr-right {
    border-right: #d5d5d7 1px solid;
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    .bdr-right {
        border-right: none;
    }
}